@import url('https://fonts.googleapis.com/css?family=Raleway|ZCOOL+XiaoWei');

.App {
  text-align: center;
}

/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
} */

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#thumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  z-index: 1;
} 

#Unlike {
  position: absolute;
  top: 75%;
  left: 1%;
}

#Like {
  position: absolute;
  top: 75%;
  left: 86%;
}

#filter svg {
  left: 2px;
  position: absolute;
  top: 12%;
  fill: black;
}

#basket svg {
  position: absolute;
  top: 12%;
  right: 2px;
}

#header header {
  margin-top: 20px; 
  color: white;
}


#second svg {
  position: absolute;
  top: 12%;
  width: 20px;
  height: 20px;
  left: 48%;
}



h2 {
  font-family: 'ZCOOL XiaoWei', serif;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'ZCOOL XiaoWei', serif;
  margin: 0;
  padding: 0;
}