@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
    position: relative;
    display: grid;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}


#slide img {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    size: cover;
    border: 1px solid white;
    border-radius: 2%; 
}

#slide {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    position: relative;
    /* top: 0;
    left: 0; */
     z-index: 0;
    font-family: 'Montserrat',
    sans-serif;
}



#header {
    position: absolute;
    margin: 0;
    padding: 0;
}

