@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
    position: relative;
}


#slide img {
    width: 100vw;
    height: 100vh;
    size: cover; 
}

#slide {
    display: grid;
    grid-template-rows: auto;
    position: relative;
    /* top: 0;
    left: 0; */
     z-index: 0;
    font-family: 'Montserrat',
    sans-serif;
}


 #thumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    z-index: 1;
} 

#Unlike {
    position: absolute;
    top: 35%;
}

#Like {
    position: absolute;
    top: 35%;
    left: 84%;
}

#header {
    position: absolute;
}

#header header {
    margin-top: 20px; 
    color: white;
}

#filter svg {
    left: 2px;
    position: absolute;
    top: 70%;
    fill: black;
}

#basket svg {
    position: absolute;
    top: 70%;
    right: 2px;
}
